* {
  box-sizing: border-box;
}

body {
  font-family: "Cousine", monospace;
  display: flex;
  flex-direction: column;
  background-color: #38603b;
}

.container {
  justify-content: center;
  align-self: center;
  align-items: center;
  width: 500px;
  margin-top: 40px;
  padding: 30px 30px 10px;
  background-color: transparent;
  border: 1.5px solid #123828;
  font-size: 1rem;
  box-shadow: #123828c8 7px 7px 0px;
}

h1 {
  color: #123828;
  margin: 0 0 20px;
  text-align: center;
}

.grid {
  width: 442px;
  height: 340px;
  border: 0px solid #ffffff;
}

.grid img {
  margin: 5px;
  border: 0px solid #123828;
}

.credits p {
  font-size: 12px;
  color: #123a2990;
  text-decoration-color: transparent;
  text-align: center;
  margin: 0;
  padding-top: 20px;
}

.credits a {
  color: #123a2990;
  text-underline-offset: 2px;
  text-decoration-color: #123a2922;
}
